pymongo
flask
pymongo
pandas
numpy
scikit-learn
torch
implicit
scipy
py-irt

# cái này là dependencies để cài Surprise
# scikit-surprise
# numpy
# pandas
# joblib
# Flask
# flask-restplus
# Flask-RESTful
# pymongo
# scipy
# pandas
# numpy
# annoy
# torch